*scrollBar:	false
*scrollWithBuffer: false
*scrollTtyOutput: false
*metaSendsEscape: true
*pastableTabs:	true

xterm*scrollKey: true

xterm*faceName:		DejaVu Sans Mono for Powerline-10
XTerm*termName: xterm-256color
xterm*bellIsUrgent: true
XTerm*toolBar: false
XTerm*selectToClipboard: true
XTerm*fullscreen: never

xscreensaver.fade: False
